<h4 class="page-title">Katalog Listesi<H4>

<ul class="list catalog-list no-bullet">
	<% @catalogs.each do |catalog|  %>

	

		<li id="<%= dom_id(catalog) %>" class="catalog-item row">

			<div class="small-2 medium-1 columns">
			</div>
			<div cass="small-10 medium-11 columns truncate catalog-content" title="<%= catalog.description %>">
		  </div>
		


				<h2><%= catalog.name %></h2>
				<p><%= catalog.description %></p>	
				<li><%= link_to "Show", catalog_path(catalog) %></li>		
				<li><%= link_to "Edit", edit_catalog_path(catalog) %></li> 
				<li><%= link_to "Destroy", catalog, method: :delete, data: { confirm: "Are you sure?" } %></li>
		</li>
	<% end %>
</ul>

<br>

<%= link_to "New Catalog", new_catalog_path %>
